.pdf-container {
    flex: 1;
    width: 100%;

    overflow: auto;
    cursor: grab;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-viewer {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.ng2-pdf-viewer-container {
    margin-top: 0px !important;
    overflow-x: visible !important;
    cursor: move;
}

.mat-dialog-actions {
    &[align='end'] {
        justify-content: flex-end;
    }

    &[align='center'] {
        justify-content: center;
    }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__content {
    overflow: hidden !important;
}

::ng-deep .mat-mdc-dialog-container {
    width: 1024px;
    max-width: 100%;

}

.cdk-overlay-pane {
    max-width: 90% !important;
}

// Nuevo (Ini)
.image-viewer {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

    .image-container {
        position: relative;
        cursor: grab;

        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            transform-origin: center center;
            transition: transform 0.2s ease-in-out;
        }
    }

    .controls {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        button {
            margin: 0 5px;
            padding: 8px 12px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}

.content-pdf {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

.content-pdf:active {
    cursor: grabbing;
}


.luisdelmal .ng2-pdf-viewer-container[_ngcontent-ng-c3799526204] {
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
}

.baseviewer .ng2-pdf-viewer-container[_ngcontent-ng-c3799526204] {
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
}

.baseviewer {
    width: 100% !important;
    height: 100%;
}

.boxBtns {
    display: grid;
    width: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    height: 36px;
}

.boxBtns .btn-ico-control {
    height: 36px;
    width: 36px;
}

.boxBtns .btn-ico-control img {
    height: 36px;
    width: 36px;
}

.btn_descargar_acta {
    outline: none;
    font-size: 1.05rem;
    padding: 5px 10px !important;
    text-transform: uppercase;
    transition: 0.2s;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid #2A71B9;
    background: transparent;
    color: #2A71B9;
}

.modalFlex {
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 100%;
}

.listModal {
    width: 200px;
    overflow-y: auto;
    height: 64vh;
    display: flex;
    padding: 10px;
}

ul.menuModal {
    list-style: none;
    padding-left: 0;
    width: 100%;
    margin: 0;
}

ul.menuModal li {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    width: 100%;
    color: #0056b3;
     min-height: 39px;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1;

    .material-icons {
        color: #0056b3;
        text-align: center;
    }
}

ul.menuModal li:hover {
    background: #f8f8f8;
    cursor: pointer;
}

ul.menuModal li.active {
    background: #0056b3;
    color: #f8f8f8;
    cursor: initial;

    .material-icons {
        color: #ffffff;
    }
}

.customModalContent {
    flex: 1;
    overflow: hidden !important;
    background-color: #f8f8f8;
}

.customModalContent .pseudoModal {
    display: flex;
    height: 100%;
}

.actionsModal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.listModal.withFs {
    height: 94vh;
}

::ng-deep .withH100 {
    width: 100vw;
    min-height: calc(100vh - 90px);
}

::ng-deep .pseudoModal:fullscreen {
    width: 100vw;
    height: 100vh;
}

::ng-deep .pseudoModal:-webkit-full-screen {
    width: 100vw;
    height: 100vh;
}

::ng-deep .pseudoModal:-moz-full-screen {
    width: 100vw;
    height: 100vh;
}

.modalFrame {
    height: 100%;
}

.version-movil {
    display: none !important;
}
.leyenda-modal{
    margin: 0;
    font-size: 0.7rem;
    color: #666;
}

@media (max-width: 1224px) {
    .cdk-overlay-pane {
        width: 80% !important;
    }
}

@media (max-width: 960px) {
    .listModal {
        width: 100%;
        height: auto;
        padding: 0;
    }

    ul.menuModal {
        padding-bottom: 1rem;

        li {
            grid-template-columns: 25px auto;
            padding: 7px 0px;
        }
    }

    .version-movil {
        display: flex !important;
    }

}