.full-browser-dialog .mat-dialog-container {
    width: 100vw !important;
    height: 100vh !important;
    padding: 0 !important;
    border-radius: 0 !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.contenido-modal {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cdk-overlay-pane {
    max-width: none !important;
    width: 100vw !important;
    margin: 0px;
}