<section class="section-flex secciones">
  <article class="w-full">
    <h1 class="titulo1">Cargar padrón</h1>

    <h2 class="titulo2">Permite cargar los datos del padrón electoral</h2>
    <p>Cargar los DNI de los electores junto con las mesas que les han sido asignadas.</p>
    <div class="section-flex">
      <article class="w-100 fondo-azul boxGen">
        <button
          *ngIf="btnSpinner; else loading"
          (click)="alertImportar()"
          id="btnCarga"
          [ngClass]="{
            button_estilodesactivado: padronCompleto,
            button_estilo2: !padronCompleto
          }"
          [disabled]="padronCompleto"
        >
          <img src="assets/img/icons/ico-carga-config.svg" alt=""/> Cargar padrón electoral
        </button>
        <ng-template #loading>
          <mat-spinner></mat-spinner>
        </ng-template>
      </article>
      <article class="w-100 boxMsg" *ngIf="false">
        <div class="cuadro-azulado-ns">
          <div class="personaje-anuncio">
            <p>
              Cuentas con la información más actual. Aún no existen
              actualizaciones.
            </p>
            <img src="assets/img/personaje1.svg" alt=""/>
          </div>
        </div>
      </article>
    </div>
    <article class="w-full">
      <div class="progressInfo">
        <h2 class="titulo2">Barra de progreso: {{ this.progresoImport }} %</h2>
        <div class="boxBar">
          <mat-progress-bar
            mode="determinate"
            [value]="progresoImport"
          ></mat-progress-bar>
        </div>
        <div class="contenido-scrollList">
          <div class="">
            <ul class="liActs">
              <li *ngFor="let mensaje of mensajesPaginado.slice().reverse()">
                {{ mensaje }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
  </article>
</section>

