<div class="coming-soon">
    <div>
        <h1>{{ 'Proximamente.Titulo' | translate }}</h1>
        <p [innerHTML]="'Proximamente.Mensaje' | translate"></p>
        <button class="button_estilo2" (click)="entendido()">
            {{ 'Proximamente.Entendido' | translate }}
        </button>
    </div>
    <div>
        <img src="assets/img/personajes/pers-desktop.svg" class="pers-desktop" alt="Próximamente">
        <img src="assets/img/personajes/pers-mobile.svg" class="pers-mobile" alt="Próximamente">
        <img src="assets/logo/logo-onpe-blanco.svg" class="logo-msg" alt="Onpe">
    </div>
</div>
