.estilo2Custom {
    border-width: 0 !important;
    background-color: #6BBB32 !important;
    outline: none;
    font-size: 1.2rem;
    padding: 8px 25px;
    text-transform: uppercase;
    transition: 0.2s;
    position: relative;
    margin: 5px 5px;
    cursor: pointer;
    vertical-align: middle;
    border: none;
    color: white !important;
}
.map-container {
    position: relative;
    min-height: 475px !important;
  }
@media (max-width: 960px) {
  .map-container {
    min-height: 360px !important;
  }
}