<div class="p-25">
  <div class="content-pdf p-r" style="padding: 30px">
    <div>
      <h5 class="titulo-modal">Resoluciones</h5>
      <p>Haga clic para descargar las resoluciones enviadas por el JEE.</p>
    </div>

    <div style="display: flex">
      <div class="content-list-resol">
        <ul class="list-resol">
          <li>01 Resolución 001-ASDF-2024-JNE</li>
          <li class="active">02 Resolución 002-ASDF-2024-JNE</li>
          <li>02 Resolución 003-ASDF-2024-JNE</li>
        </ul>
      </div>

      <div id="idDivImagen" class="content-imagen-modal">
        <img
          class="w-full"
          src="assets/img-resolucion.svg"
          alt=""
        />
      </div>
    </div>
  </div>

  <div
    class="d-flex content-between content-center-xxs flex-wrap-xs"
    style="padding: 0px 30px"
  >
    <div class="content-list-resol"></div>
    <div
      class="d-flex content-between content-center-xxs flex-wrap-xs w-full flex-1 pb-20"
    >
      <div class="d-flex gap-9">
        <span class="material-icons border-icon cursor-pointer"> refresh </span>
        <span class="material-icons border-icon cursor-pointer"> zoom_in </span>
        <span class="material-icons border-icon cursor-pointer">
          zoom_out
        </span>
        <span class="material-icons border-icon cursor-pointer">
          zoom_out_map
        </span>
      </div>

      <div class="d-flex align-items gap-10">
        <button class="m-0 button_estilo2 mb-40">CERRAR</button>
      </div>
    </div>
  </div>
</div>
