<app-reportes-listado
  [isContentReady]="isContentReady"
  [isFirstRequest]="isFirstRequest"
  [isLoadingReportList]="isLoadingReportList"
  [tableInformation]="tableInformation"
  [form]="form"
  [titleKey]="'MisReportes'"
  [totalKey]="'TotalReportes'"
  [emptyMessage]="mensajeNoDataExists"
  [showTipoReporteFilter]="true"
  [listaEleccion]="listaEleccion"
  [listaReporte]="listaReporte"
  [displayedColumns]="displayedColumns"
  (limpiar)="limpiar()"
  (actualizar)="filtrar()"
  (openMobileFilter)="openpopupfiltroubigeo()"
  [criterioSeleccionado]="criterioSeleccionado | uppercase"
  (descargar)="descargarDocumento($event)"
  (pageChange)="handlePageEvent($event)"
></app-reportes-listado>
