<div class="popup">
  <h1 class="titulo2 t-c">Restablecer Contraseña</h1>
  <div class="centrar_icono">
    <img src="assets/img/icons/icono_llave.svg" class="ico-60" alt="Restablecer contraseña" draggable="false" />
  </div>
  <form [formGroup]="formGroup" (submit)="enviar()">
    <div class="popup_formulario">
      <label for="usuario" class="label-input">Usuario</label>
      <mat-form-field appearance="outline" class="mat-form">
        <input matInput id="usuario" class="input" formControlName="usuario" (keydown.enter)="enviar()"
          placeholder="Ingresa tu usuario" (drop)="bloquearEvent($event)" (dragover)="bloquearEvent($event)"
          sceUppercase cdkFocusInitial />
      </mat-form-field>
      <label for="usuario" class="label-error">
        <mat-error *ngIf="formGroup.get('usuario')?.hasError('required') && formGroup.get('usuario')?.touched">
          El usuario es obligatorio
        </mat-error>
        <mat-error *ngIf="formGroup.get('usuario')?.hasError('minlength') && formGroup.get('usuario')?.touched">
          El usuario debe tener al menos 3 caracteres
        </mat-error>
        <mat-error *ngIf="formGroup.get('usuario')?.hasError('maxlength')">
          El usuario no puede exceder los 50 caracteres
        </mat-error>
        <mat-error *ngIf="formGroup.get('usuario')?.hasError('pattern')">
          El usuario no puede iniciar ni finalizar con guiones, ni contener guiones consecutivos
        </mat-error>
      </label>
    </div>
    <div class="popup-botones">
      <button type="button" class="button_estilo3" (click)="onNoClick()">Cancelar</button>
      <button type="submit" class="button_estilo1" [disabled]="!checkButton()">Aceptar</button>
    </div>
  </form>
</div>