@use "sass:map";
@use '../../../../variables.scss' as *;

.button_estilo3 {
    padding: 7px 25px !important;
}

.popup .popup-botones {
    padding-top: 20px !important;
    display: flex !important;
    width: fit-content !important;
    margin: 0 auto !important;
    gap: 20px !important;
}

.label-error {
    margin-top: 0.125rem !important;
    margin-bottom: 0.125rem !important;
    font-size: 0.7rem;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.popup {
    max-width: 100%;
    box-sizing: border-box;

    @media (max-width: 600px) {
        width: 100%;
    }
}

.label-error mat-error {
    display: block;
    min-height: auto;
    color: map.get($secondary-colors, clr-rojo-2);
    font-size: 11px;
    margin-top: 6px;
}