<footer>
  <div>
    <h4>{{ labelOficinaKey | translate }}</h4>
    <ul>
      <li>{{ textDireccionKey | translate }}</li>
    </ul>
  </div>
  <div>
    <h4>{{ labelEscribenosKey | translate }}</h4>
    <ul>
      <li>informes&#64;onpe.gob.pe</li>
    </ul>
  </div>
  <div>
    <h4>{{ labelTelefonoKey | translate }}</h4>
    <ul>
      <li>{{ textTelefonoKey | translate}}</li>
    </ul>
  </div>
  <div>
    <h4>{{ labelRedesKey | translate }}</h4>
    <ul class="redes-sociales">
      <li>
        <a href="https://www.facebook.com/ONPEoficial?fref=ts" target="_blank"
          ><img alt="Facebook" src="assets/img/icons/ico-fb.svg"
        /></a>
      </li>
      <li>
        <a
          href="https://youtube.com/user/onpeprensa/featured"
          target="_blank"
          class="fa"
          ><img alt="YouTube" src="assets/img/icons/ico-youtube.svg"
        /></a>
      </li>
      <li>
        <a href="https://instagram.com/onpe_oficial/?hl=es-la" target="_blank"
          ><img alt="Instagram" src="assets/img/icons/ico-instagram.svg"
        /></a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@onpe_oficial" target="_blank"
          ><img alt="Tik Tok" src="assets/img/icons/ico-tiktop.svg"
        /></a>
      </li>
      <li>
        <a href="https://twitter.com/ONPE_oficial" target="_blank"
          ><img alt="X" src="assets/img/icons/ico-x.svg"
        /></a>
      </li>
      <li>
        <a href="https://flickr.com/photos/onpeprensa/" target="_blank"
          ><img alt="Flickr" src="assets/img/icons/ico-flickr.svg"
        /></a>
      </li>
      <li>
        <a
          href="https://open.spotify.com/show/5Z7IYizw5R1j8Ic4ejpQKm"
          target="_blank"
          ><img alt="Spotify" src="assets/img/icons/ico-spotify.svg"
        /></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/onpeoficial" target="_blank"
          ><img alt="Linkeding" src="assets/img/icons/ico-linkeding.svg"
        /></a>
      </li>
    </ul>
  </div>
</footer>
