<nav class="vertical-nav">
    <ul>
      <li class="nav-item active">{{Inicio | translate}}</li>
      <li class="nav-item" routerLink="/main/convocatorias">{{Servicios | translate}}</li>
      <li class="nav-item">{{Acercade | translate}}<li>
      <li class="nav-item">{{Contacto | translate}}</li>
      <li class="nav-item " routerLink="/main/actualizacion-datos">{{Actualizaciondatos | translate }}</li>
      <li class="nav-item active" routerLink="/main/perfiles-compartibles">{{Perfilescompatibles | translate }}</li>
      <li class="nav-item active" routerLink="/main/odpe-orc-pf">{{preferente | translate }}</li>
    </ul>
</nav>
