@use "sass:string";
@use 'sass:map';

$primary-colors: (
    onpe-institucional: #003770,
    onpe-gris: #707070,
    celeste: #2A71B9,
    onpe-azul: #0172CF,
    onpe-rojo: #e92228,
    clr-naranja-1: #F26B3D,
    clr-naranja-2: #FC9D4C,
    clr-naranja-3: #ffb81c,
    clr-bg-1: #EFF3F5,
    transparente: #ffffff00,
);
$secondary-colors: (
    clr-gris-1: #6E6E6E,
    clr-gris-2: #808080,
    clr-gris-3: #B8BCBC,
    clr-gris-4: #D9D9D9,
    clr-gris-5: #F5F6F7,
    clr-gris-6: #DEDEDE,
    clr-gris-7: #F2F4F5,
    clr-gris-8: #E8E8E8,
    clr-gris-9: #D3D3D3,
    clr-gris-10: #7d7d7d,
    clr-gris-11: #f2f2f2,
    clr-gris-12: #b8b8b8,
    clr-gris-13: #9b9fa3,
    clr-gris-14: #f4f4f4,
    clr-gris-15: #6b7280,
    clr-gris-16: #333333,
    clr-gris-17: #dddddd,
    clr-gris-18: #ececec,
    clr-gris-19: #b2b4b6,
    clr-gris-20: rgb(0 0 0 / 7%),

    clr-blanco-1: #F8F8F8,
    clr-blanco-2: #F5F5F7,
    clr-blanco-3: #FFFFFF,
    clr-blanco-4: #F5F5F5,

    clr-rojo-1: #DF0A14,
    clr-rojo-2: #E2042C,
    clr-rojo-3: #C17A72,
    clr-rojo-4: #FADDD9,
    clr-rojo-5: #e74c3c,

    clr-morado-1: #7760AA,

    morado-onpe: #8147ae,
    celeste-onpe: #69b2e7,
    celeste-onpe-2: #6db2e2,

    clr-azul-1: #000E1F,
    clr-azul-2: #002337,
    clr-azul-3: #263E6F,
    clr-azul-4: #2570B6,
    clr-azul-5: #2A71B9,
    clr-azul-6: #3085DB,
    clr-azul-7: #2F85DB,
    clr-azul-8: #46ADE3,
    clr-azul-9: #E5EDF7,
    clr-azul-10: #F8FCFF,
    clr-azul-11: #003874,
    clr-azul-12: #2971B9,
    clr-azul-13: #00ABE3,
    clr-azul-14: #287ace,
    clr-azul-15: #d1e7fd,
    clr-azul-16: #1e5a94,
    clr-azul-17: #115eaf,

    clr-celeste-1: #edf4fc,

    borde-azul: #2196f3,

    clr-verde-1: #76BD43,
    clr-verde-2: #66a939,
    clr-verde-3: #4d862a,

    clr-negro-1: #000000,
    clr-negro-2: #1d1d1d,

    clr-azul-18: #004080,
    clr-azul-19: #003060,
    clr-azul-20: #133670,
    clr-azul-21: #1c3a6a,
    clr-azul-22: #80b8e2,
    clr-azul-23: #2971b8,

    clr-gris-21: #cccccc,
    clr-gris-22: #e5e5e5,
    clr-gris-23: #e4e4e4,
    clr-gris-24: #e3e3e3,
    clr-gris-25: #cfcfcf,
    clr-gris-26: #aeaeae,
    clr-gris-27: #8e8e8e,
    clr-gris-28: #444444,
    clr-gris-29: #323232,
    clr-gris-30: #1a1b1f,
    clr-gris-31: #707068,
    clr-morado-2: #161853,

    clr-verde-4: #55b776,

    clr-azul-celeste-1: #e6f0ff,
    clr-azul-celeste-2: #f0f5fb,
    clr-azul-celeste-3: #f0f4fb,
    clr-azul-celeste-4: #00aeef,
    clr-azul-celeste-5: #007bff,
    clr-azul-celeste-6: #2780ea,
    clr-azul-celeste-7: #1976d2,
    clr-azul-celeste-8: #899db1,
    clr-azul-celeste-9: #3f6896,

    clr-blanco-5: #fcfcfd,
    clr-blanco-6: #fbfcfc,
    clr-blanco-7: #fafbfc,
    clr-blanco-8: #fafafa,
    clr-blanco-9: #f9fafb,
);
// Fuentes
$font-family: 'Poppins', sans-serif;
$font-weights: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700
);
$order: (
    "_1": 1,
    "_2": 2,
    "_3": 3,
    "_4": 4,
    "_5": 5,
    "_6": 6,
    "_7": 7,
    "_8": 8,
    "_9": 9,
    "_10": 10,
    "_11": 11,
    "_12": 12,
    "_13": 13,
    "_14": 14,
    "_15": 15,
    "_16": 16,
    "_17": 17,
    "_18": 18,
    "_19": 19,
    "_20": 20
);
$line-height: (
    "_1": 0.0625rem,
    "_2": 0.125rem,
    "_3": 0.1875rem,
    "_4": 0.25rem,
    "_5": 0.3125rem,
    "_6": 0.375rem,
    "_7": 0.4375rem,
    "_8": 0.5rem,
    "_9": 0.5625rem,
    "_10": 0.625rem,
    "_11": 0.6875rem,
    "_12": 0.75rem,
    "_13": 0.8125rem,
    "_14": 0.875rem,
    "_15": 0.9375rem,
    "_16": 1rem,
    "_17": 1.0625rem,
    "_18": 1.125rem,
    "_19": 1.1875rem,
    "_20": 1.25rem,
    "_21": 1.3125rem,
    "_22": 1.375rem,
    "_23": 1.4375rem,
    "_24": 1.5rem,
    "_25": 1.5625rem,
    "_26": 1.625rem,
    "_27": 1.6875rem,
    "_28": 1.75rem,
    "_29": 1.8125rem,
    "_30": 1.875rem,
    "_31": 1.9375rem,
    "_32": 2rem,
    "_36": 2.25rem
);

$font-sizes: (
    "resaltado": 3.2rem,
    "titulo": 2.5rem,
    "subtitulo1": 1.8rem,
    "subtitulo2": 1.6rem,
    "contenido": 1rem,
    "labels": 0.75rem,
    "inputs": 0.875rem,
    "_1": 0.0625rem,
    "_2": 0.125rem,
    "_3": 0.1875rem,
    "_4": 0.25rem,
    "_5": 0.3125rem,
    "_6": 0.375rem,
    "_7": 0.4375rem,
    "_8": 0.5rem,
    "_9": 0.5625rem,
    "_10": 0.625rem,
    "_11": 0.6875rem,
    "_12": 0.75rem,
    "_13": 0.8125rem,
    "_14": 0.875rem,
    "_15": 0.9375rem,
    "_16": 1rem,
    "_17": 1.0625rem,
    "_18": 1.125rem,
    "_19": 1.1875rem,
    "_20": 1.25rem,
    "_21": 1.3125rem,
    "_22": 1.375rem,
    "_23": 1.4375rem,
    "_24": 1.5rem,
    "_25": 1.5625rem,
    "_26": 1.625rem,
    "_27": 1.6875rem,
    "_28": 1.75rem,
    "_29": 1.8125rem,
    "_30": 1.875rem,
    "_31": 1.9375rem,
    "_32": 2rem,
    "_36": 2.25rem
);
// Breakpoints
$breakpoints: (
    mobile: 620px,
    tablet: 1024px,
    pc: 1366px
);

$gap-sizes: (
    "_1": 0.0625rem,
    "_2": 0.125rem,
    "_3": 0.1875rem,
    "_4": 0.25rem,
    "_5": 0.3125rem,
    "_6": 0.375rem,
    "_7": 0.4375rem,
    "_8": 0.5rem,
    "_9": 0.5625rem,
    "_10": 0.625rem,
    "_11": 0.6875rem,
    "_12": 0.75rem,
    "_13": 0.8125rem,
    "_14": 0.875rem,
    "_15": 0.9375rem,
    "_16": 1rem,
    "_17": 1.0625rem,
    "_18": 1.125rem,
    "_19": 1.1875rem,
    "_20": 1.25rem,
    "_21": 1.3125rem,
    "_22": 1.375rem,
    "_23": 1.4375rem,
    "_24": 1.5rem,
    "_25": 1.5625rem,
    "_26": 1.625rem,
    "_27": 1.6875rem,
    "_28": 1.75rem,
    "_29": 1.8125rem,
    "_30": 1.875rem,
    "_31": 1.9375rem,
    "_32": 2rem,
    "_36": 2.25rem
);