<h1 class="titulo2 t-c">{{ 'popup-archivo-no-disponible.archivoNoDisponible' | translate }}</h1>
<mat-dialog-content class="mat-typography">
    <div class="centrar_icono mb-2">
      <img src="../../../assets/img/alert/ico-warning.svg" alt="-Icono de diálogo-" />
    </div>
    <p class="p-popup">{{ 'popup-archivo-no-disponible.mensajeNoDisponible' | translate }} </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <div class="bottom-actas-verificar-pop justify-content-between"></div>
    <button class="estilo1" mat-dialog-close>{{ 'pop-causales.cerrar' | translate }}</button>
</mat-dialog-actions>