$colors: (
  azulOnpe: #003874,
  azulOnpeClaro: #2971B9,
  celesteOnpe: #6DB2E2,
  grisPendiente: #ECECEC,
  grisTextos: #B2B4B6,
  azulFocus: #287ace,
  blanco: #ffffff,
  blancoHumo: #f8f8f8,
);

// Variables para dimensiones de mapas
$map-height-desktop: 400px;
$map-height-mobile-large: 400px;
$map-height-mobile-medium: 360px;
$map-height-mobile-small: 350px;
$map-min-height: 400px;

