<footer>
  <div class="column">
    <h3>{{ 'footer.labelOficina' | translate }}</h3>
    <p>{{ 'footer.textDireccion' | translate }}</p>
  </div>
  <div class="column">
    <h3>{{ 'footer.labelEscribenos' | translate }}</h3>
    <p>{{ 'footer.textEscribenos' | translate }}</p>
  </div>
  <div class="column">
    <h3>{{ 'footer.labelTelefono' | translate }}</h3>
    <p>{{ 'footer.textTelefono' | translate }}</p>
  </div>
  <div class="column">
    <h3>{{ 'footer.labelRedes' | translate }}</h3>
    <div class="d-flex mt-05-movil">
      <a href="https://www.facebook.com/ONPEoficial/?locale=es_LA" class="href" target="_blank">
        <img src="assets/icon_redes/icon_fb.svg" alt="facebook" />
      </a>
      <a href="https://www.youtube.com/@onpeprensa" class="href" target="_blank">
        <img src="assets/icon_redes/icon_youtube.svg" alt="youtube" />
      </a>
      <a href="https://www.instagram.com/onpe_oficial/" class="href" target="_blank">
        <img src="assets/icon_redes/icon_ig.svg" alt="instagram" />
      </a>
      <a href="https://www.tiktok.com/@onpe_oficial?lang=es" class="href" target="_blank">
        <img src="assets/icon_redes/icon_tiktok.svg" alt="tiktok" />
      </a>
      <a href="https://twitter.com/ONPE_oficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="href" target="_blank">
        <img src="assets/icon_redes/icon_x.svg" alt="x" />
      </a>
      <a href="https://www.flickr.com/photos/onpeprensa/" class="href" target="_blank">
        <img src="assets/icon_redes/icon_oo.svg" alt="oo" />
      </a>
      <a href="https://open.spotify.com/show/5Z7IYizw5R1j8Ic4ejpQKm" class="href" target="_blank">
        <img src="assets/icon_redes/icon_spotify.svg" alt="spotify" />
      </a>
      <a href="https://www.linkedin.com/company/onpeoficial?originalSubdomain=pe" class="href" target="_blank">
        <img src="assets/icon_redes/icon_lk.svg" alt="LinkedIn " />
      </a>
    </div>
  </div>
</footer>
