<div class="popup">
  <h1 class="titulo2 t-c">Confirmación</h1>
  <div class="centrar_icono">
    <img src="assets/img/icons/icono_alert.svg" class="ico-60" alt="Advertencia">
  </div>
  
  <div>
    <p class="t-c">{{ data?.mensaje || '¿Está seguro de realizar la operación?' }}</p>
  </div>
  <div class="popup-botones">
    <button class="button_estilo3" (click)="cerrarDialogo()">No</button>
    <button class="button_estilo1" (click)="confirmado()" cdkFocusInitial>Sí</button>
  </div>
</div>
