<div class="p-25">
  <div class="content-pdf p-r" style="padding: 30px">
    <div>
      <h5 class="titulo-modal">Documento 202020</h5>
    </div>
    <div id="idDivImagen" class="content-imagen-modal">
      <img
        class="w-full"
        src="assets/actaelectoral.jpeg"
        alt=""
      />
    </div>
  </div>
  <div class="d-flex content-between content-center-xxs flex-wrap-xs">
    <div class="d-flex gap-9 p-botones-modal">
      <span class="material-icons border-icon cursor-pointer"> refresh </span>
      <span class="material-icons border-icon cursor-pointer"> zoom_in </span>
      <span class="material-icons border-icon cursor-pointer"> zoom_out </span>
      <span class="material-icons border-icon cursor-pointer">
        zoom_out_map
      </span>
    </div>
    <div class="d-flex align-items gap-10 p-botones-modal">
      <button class="m-0 button_estilo2 mb-40">CERRAR</button>
    </div>
  </div>
</div>
