<mat-dialog-content class="content-modal2 text-center">
  <h1 class="title text-center">Operación exitosa</h1>
  <img
    class="mt-10"
    width="70"
    src="assets/icono-check.svg"
    alt=""
  />
  <p>La configuración se guardo exitosamente</p>
  <mat-dialog-actions class="card-footer-btn2">
    <div class="card-footer-btn2 mt-16">
      <button
        [mat-dialog-close]="true"
        [routerLink]="redirectionRoute"
        class="button_estilo1 px-30"
      >
        ACEPTAR
      </button>
    </div>
  </mat-dialog-actions>
</mat-dialog-content>
