<app-reportes-listado
  [isContentReady]="isContentReady"
  [isFirstRequest]="isFirstRequest"
  [isLoadingReportList]="isLoadingReportList"
  [tableInformation]="tableInformation"
  [form]="form"
  [titleKey]="'RepAutomáticos'"
  [totalKey]="'TotalRepAutomáticos'"
  [emptyMessage]="'MensajeNoGenerado'"
  [showTipoReporteFilter]="false"
  [listaEleccion]="listaEleccion"
  [displayedColumns]="displayedColumns"
  (limpiar)="limpiar()"
  (actualizar)="loadReportesAutomaticos()"
  (openMobileFilter)="openModalBusqueda()"
  [criterioSeleccionado]="criterioSeleccionado"
  (descargar)="descargarDocumentoAutomaticos($event)"
  (pageChange)="handlePageEvent($event)"
></app-reportes-listado>
